body {
  font-family: Arial;
}

.blue {
  color: blue;
}


.btnStyle {
  background-color: blue;
  color: white;
}



.div {
  border: 0.5px black solid;
  background-color: pink;
  width: 200px;
  padding: 1rem;
}

#mainImg {
  width: 35%;
}

.green {
  color: green;
}

.underline {
  text-decoration: underline red wavy;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.yellowBg {
  background-color: yellow;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}